# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Training Dataset
dataset/

# Input Images
img/input/

# Evaluation Images
img/evaluation/

# Generated Output
img/output/

# YOLO Prediction Output
runs/

# Keep only best.pt from training
run_model/detect/runs/license_plate_detector/*.jpg
run_model/detect/runs/license_plate_detector/*.png
run_model/detect/runs/license_plate_detector/*.csv
run_model/detect/runs/license_plate_detector/*.yaml
run_model/detect/runs/license_plate_detector/weights/last.pt

# Generated CSV files
data/entry_log.csv
data/ocr_results.csv

# Temporary files
*.log
*.tmp

# Operating System
.DS_Store
Thumbs.db